@model TLM.Models.TransformerInfo
<h1>General Details</h1>
<div class="tm-info">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.SwitchPosition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SwitchPosition)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Vendor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vendor)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Maxcycles)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Maxcycles)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.VoltageChangeTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VoltageChangeTime)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.PulseTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PulseTime)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.MinSwitchVolt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinSwitchVolt)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.EstBankVoltRise)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstBankVoltRise)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.AutoBVRCalc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AutoBVRCalc)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.LowVoltSetPoint)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LowVoltSetPoint)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.HighVoltSetPoint)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HighVoltSetPoint)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.VoltOverrideTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VoltOverrideTime)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.VoltChangeTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VoltChangeTime)
    </div>
</div>
